*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: gray;
}
.header{
  width: 100%;
  height: 100px;
  display: flex;
}

.calculator-container{
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.calculator-ui{
  display: grid;
  grid-template-rows: 25% repeat(5, 13%) 10%;
  grid-template-columns: repeat(4, 25%);
  width: 30%;
  height: 800px;
  border: 5px solid black;
  border-radius: 10px;
  background-color: lightgray;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.display-container{
  display: flex;
  width: 93%;
  height: 60%;
  border: 1px solid black;
  border-radius: 2px;
  grid-area: results;
  grid-area: 1 / 1 / 1 / 5;
  place-self: center;
  text-align: right;
  flex-wrap: wrap;
  padding: 5px;
  background-color: white;
}

.history{
  width: 100%;
  height: 30%;
  font-size: 24px;
}
.result{
  
  font-size: 70px;
  width: 100%;
  height: 70%;
}

.created-by{
  width: 100%;
  grid-area: 7 / 1 / 7 / 5;
  font-size: 1.5em;
  place-self: center;
  text-align: center;
  
}

.created-by a:link{
  text-decoration: none;
}
#btn0{
  width: 87%;
  grid-area: 6 / 1 / 6 / 3;
}
#btnAC{
  width: 87%;
  grid-area: 2 / 1 / 2 / 3;
}
.calculator-button{
  width: 75%;
  height: 90%;
  font-size: 2em;
  place-self: center;
}

.function-button{
  background-color: gold;
}

/* Change grid-column-start etc to grid-area*/

/*
.result-container{
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: green;
}
.arithmetic-column{
  background-color: blue;
  grid-column-start: 4;
  grid-row-start: 2;
  grid-row-end: 7;
}
.function-row{
  background-color: yellow;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}
.number-grid{
  background-color: red;
  grid-row-start: 3;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 4;
} */








